* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: rgb(93, 178, 253);
}

.chapnavbar {
  display: flex;
}

ul {
  display: flex;
  gap: 50px;
}

ul li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: #000;
}
.boxGrid{
  display: grid;
  grid-template-columns: repeat(calc(100/3 -10));
}